# Servidor
PORT=3000

# Base de datos
DB_NAME=nombre_de_tu_bd
DB_USER=tu_usuario
DB_PASS=tu_contrasena
DB_HOST=127.0.0.1
DB_DIALECT=mysql

# JWT
JWT_SECRET=cambia_esto_por_un_secreto_seguro
JWT_EXPIRES_IN=8h
