/* ── ESTRUCTURA 1-3: HEADER + TRES COLUMNAS ── */
.est1_3 {
    min-height: 400px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.est1_3__content {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 20px;
}

.est1_3__title {
    grid-column: 1 / 4;
    width: 100%;
    height: 80px;
    overflow: hidden;
    flex-shrink: 0;
}

.est1_3__description {
    width: 100%;
    height: 100%;
}
