/* ── ESTRUCTURA 1-4: HEADER + CUATRO COLUMNAS ── */
.est1_4 {
    min-height: 400px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.est1_4__content {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 20px;
}

.est1_4__title {
    grid-column: 1 / 5;
    width: 100%;
    height: 80px;
    overflow: hidden;
    flex-shrink: 0;
}

.est1_4__description {
    width: 100%;
    height: 100%;
}
