/* ── ESTRUCTURA 1-1: HEADER + BLOQUE ── */
.est1_1 {
    min-height: 400px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.est1_1__content {
    display: grid;
    grid-template-rows: 80px 1fr;
    width: 100%;
    gap: 20px;
}

.est1_1__title {
    width: 100%;
    height: 80px;
    overflow: hidden;
    flex-shrink: 0;
}

.est1_1__description {
    width: 100%;
    height: 100%;
}
