/* ── GRILLA TRIPLE ── */
.grillaTriple__grid {
    min-height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 20px;
    cursor: pointer;
    position: relative;
}

.grillaTriple__image {
    min-height: 340px;
}
