/* ── GRILLA DOBLE ── */
.grillaDoble__grid {
    min-height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 20px;
    cursor: pointer;
}

.grillaDoble__image {
    min-height: 340px;
}
